name: Java CI/CD to Tomcat Manager

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      war: ${{ steps.getwar.outputs.war }}

    steps:
      # 1. Checkout Code
      - name: Checkout
        uses: actions/checkout@v4

      # 2. Cache Maven
      - name: Cache Maven Packages
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: maven-

      # 3. Setup Java
      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      # 4. Build WAR
      - name: Build with Maven
        run: mvn clean package -DskipTests

      # 5. Get WAR file path
      - name: Find WAR
        id: getwar
        run: |
          WAR=$(ls target/*.war | head -n 1)
          echo "WAR found: $WAR"
          echo "war=$WAR" >> $GITHUB_OUTPUT

      # 6. Upload Artifact (optional)
      - name: Upload WAR Artifact
        uses: actions/upload-artifact@v4
        with:
          name: myapp-war
          path: ${{ steps.getwar.outputs.war }}

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment: production


    steps:
      # 7. Download WAR built in previous job
      - name: Download WAR
        uses: actions/download-artifact@v4
        with:
          name: myapp-war

      # 8. Deploy to Tomcat Manager
      - name: Deploy WAR using Tomcat Manager
        run: |
          WAR_FILE=$(ls *.war)
          echo "Deploying $WAR_FILE to Tomcat"

          curl -v -T "$WAR_FILE" \
            "http://${{ secrets.TOMCAT_USER }}:${{ secrets.TOMCAT_PASSWORD }}@${{ secrets.TOMCAT_HOST }}/manager/text/deploy?path=/myapp&update=true"
